In [1]:
pip install snowflake-connector-python

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.0.3-cp39-cp39-win_amd64.whl (10.7 MB)
Requirement already satisfied: typing-extensions<5,>=4.3 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (4.4.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (21.0.0)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (3.4.8)
Requirement already satisfied: pytz in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (2022.7.1)
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Requirement already satisfied: packaging in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (21.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (2.0.4)
Collecting oscrypto<2.0.0
  Downloading oscrypto-1.3.0-py2.py3-none-any.whl (194 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (2021.10.8)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (1.15.0)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (2.1.0)
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Downloading pycryptodomex-3.17-cp35-abi3-win_amd64.whl (1.7 MB)
Requirement already satisfied: requests<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (2.27.1)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python) (3.6.0)
Requirement already satisfied: pycparser in c:\users\ajha2\anaconda3\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.21)
Requirement already satisfied: six>=1.5.2 in c:\users\ajha2\anaconda3\lib\site-packages (from pyOpenSSL<24.0.0,>=16.2.0->snowflake-connector-python) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ajha2\anaconda3\lib\site-packages (from packaging->snowflake-connector-python) (3.0.4)
Installing collected packages: asn1crypto, pycryptodomex, oscrypto, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 oscrypto-1.3.0 pycryptodomex-3.17 snowflake-connector-python-3.0.3

In [2]:
pip install snowflake-sqlalchemy

Collecting snowflake-sqlalchemy
  Downloading snowflake_sqlalchemy-1.4.7-py2.py3-none-any.whl (33 kB)
Requirement already satisfied: snowflake-connector-python<4.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-sqlalchemy) (3.0.3)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.4.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-sqlalchemy) (1.4.32)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.0.4)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.17)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.26.9)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.1.0)
Requirement already satisfied: pytz in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2022.7.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.3)
Requirement already satisfied: requests<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.27.1)
Requirement already satisfied: packaging in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (21.3)
Requirement already satisfied: typing-extensions<5,>=4.3 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (4.4.0)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.6.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2021.10.8)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.4.8)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.5.1)
Requirement already satisfied: oscrypto<2.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.3.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (21.0.0)
Requirement already satisfied: pycparser in c:\users\ajha2\anaconda3\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (2.21)
Requirement already satisfied: six>=1.5.2 in c:\users\ajha2\anaconda3\lib\site-packages (from pyOpenSSL<24.0.0,>=16.2.0->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ajha2\anaconda3\lib\site-packages (from sqlalchemy<2.0.0,>=1.4.0->snowflake-sqlalchemy) (1.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ajha2\anaconda3\lib\site-packages (from packaging->snowflake-connector-python<4.0.0->snowflake-sqlalchemy) (3.0.4)
Installing collected packages: snowflake-sqlalchemy
Successfully installed snowflake-sqlalchemy-1.4.7
Note: you may need to restart the kernel to use updated packages.

In [3]:
import snowflake.connector

In [4]:
account = 'obtaxoh-pw38465'
user = 'SQLTECH'
password = 'Revolt1857'
database = 'BANKING'
schema = 'PUBLIC'
warehouse = 'COMPUTE_WH'

In [5]:
conn = snowflake.connector.connect(
    user=user,
    password=password,
    account=account,
    database=database,
    schema=schema,
    warehouse=warehouse
)

In [6]:
cur = conn.cursor()

In [7]:
cur.execute("SELECT * FROM bank_details")

In [8]:
import pandas as pd

In [7]:
pip install "snowflake-connector-python[pandas]"

Requirement already satisfied: snowflake-connector-python[pandas] in c:\users\ajha2\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: cryptography<41.0.0,>=3.1.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (3.4.8)
Requirement already satisfied: packaging in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (21.3)
Requirement already satisfied: pyOpenSSL<24.0.0,>=16.2.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (21.0.0)
Requirement already satisfied: oscrypto<2.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (1.3.0)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (2.0.4)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (3.6.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (1.5.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (3.3)
Requirement already satisfied: typing-extensions<5,>=4.3 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (4.4.0)
Requirement already satisfied: pycryptodomex!=3.5.0,<4.0.0,>=3.2 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (3.17)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (2021.10.8)
Requirement already satisfied: pytz in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (2022.7.1)
Requirement already satisfied: requests<3.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (1.26.9)
Collecting pyarrow<10.1.0,>=10.0.1
  Downloading pyarrow-10.0.1-cp39-cp39-win_amd64.whl (20.3 MB)
Requirement already satisfied: pandas<1.6.0,>=1.0.0 in c:\users\ajha2\anaconda3\lib\site-packages (from snowflake-connector-python[pandas]) (1.4.2)
Requirement already satisfied: pycparser in c:\users\ajha2\anaconda3\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]) (2.21)
Requirement already satisfied: numpy>=1.18.5 in c:\users\ajha2\anaconda3\lib\site-packages (from pandas<1.6.0,>=1.0.0->snowflake-connector-python[pandas]) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ajha2\anaconda3\lib\site-packages (from pandas<1.6.0,>=1.0.0->snowflake-connector-python[pandas]) (2.8.2)
Requirement already satisfied: six>=1.5.2 in c:\users\ajha2\anaconda3\lib\site-packages (from pyOpenSSL<24.0.0,>=16.2.0->snowflake-connector-python[pandas]) (1.16.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\ajha2\anaconda3\lib\site-packages (from packaging->snowflake-connector-python[pandas]) (3.0.4)
Installing collected packages: pyarrow
Successfully installed pyarrow-10.0.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
banking_data = cur.fetch_pandas_all()

In [10]:
banking_data

,AGE,JOB,MARITAL,EDUCATION,`DEFAULT`,BALANCE,HOUSING,LOAN,CONTACT,`DAY`,`MONTH`,DURATION,CAMPAIGN,PDAYS,PREVIOUS,POUTCOME,Y
0,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
1,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
2,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
3,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
4,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,46,management,divorced,secondary,no,16,yes,yes,unknown,5,may,188,2,-1,0,unknown,no
88,57,retired,married,secondary,no,486,yes,no,unknown,5,may,180,2,-1,0,unknown,no
89,42,management,single,secondary,no,50,no,no,unknown,5,may,48,1,-1,0,unknown,no
90,30,technician,married,secondary,no,152,yes,yes,unknown,5,may,213,2,-1,0,unknown,no
91,60,admin.,married,secondary,no,290,yes,no,unknown,5,may,583,1,-1,0,unknown,no

In [11]:
cur.close()
conn.close()

In [12]:
banking_data

,AGE,JOB,MARITAL,EDUCATION,`DEFAULT`,BALANCE,HOUSING,LOAN,CONTACT,`DAY`,`MONTH`,DURATION,CAMPAIGN,PDAYS,PREVIOUS,POUTCOME,Y
0,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
1,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
2,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
3,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
4,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,46,management,divorced,secondary,no,16,yes,yes,unknown,5,may,188,2,-1,0,unknown,no
88,57,retired,married,secondary,no,486,yes,no,unknown,5,may,180,2,-1,0,unknown,no
89,42,management,single,secondary,no,50,no,no,unknown,5,may,48,1,-1,0,unknown,no
90,30,technician,married,secondary,no,152,yes,yes,unknown,5,may,213,2,-1,0,unknown,no
91,60,admin.,married,secondary,no,290,yes,no,unknown,5,may,583,1,-1,0,unknown,no